@import './variables';

@mixin button-style(
  $shadow-small: 0 4px 8px rgba(0, 0, 0, 0.5),
  $shadow-large: 0 6px 12px rgba(0, 0, 0, 0.75),
  $transition: all 0.3s ease
) {
  background-color: $color-white;
  color: $color-dark-gray;
  text-decoration: none;
  max-height: 36px;
  width: 100px;
  padding: 8px 20px;
  margin: 0 10px 0 0;
  border-radius: 5px;
  box-shadow: $shadow-small;
  transition: $transition;

  &:hover, &:focus {
    background-color: $color-light-gray;
    box-shadow: $shadow-large;
    transform: translateY(-2px);
  }
}

@mixin input-style(
  $shadow-small: 0 2px 6px rgba(0, 0, 0, 0.3),
  $shadow-focus: 0 4px 8px rgba(0, 0, 0, 0.5),
  $transition: all 0.3s ease
) {
  background-color: $color-white;
  color: $color-dark-gray;
  border: none;
  padding: 10px 16px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  box-shadow: $shadow-small;
  transition: $transition;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: none;
    background-color: $color-focus-background;
    box-shadow: $shadow-focus;
  }
}


