@import '../../scss/variables';
@import '../../scss/mixins';

.form-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.button-big {
  @include button-style;
  cursor: pointer;
  outline: none;
}


.race-control-container {
  max-width: 500px;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;



.race-control-wrapper {
  display: flex;

  .button-generate-cars {
    @include button-style;
    cursor: pointer;
    outline: none;
    width: fit-content;
  }

}
  


  .title-container {
    display: flex;
    gap: 10px;
    align-items: center;

    h2 {
      font-size: 34px;
    }

    .garage-count-wrapper {

      h3 {
      font-size: 24px;
      border: 4px solid $primary-color;
      padding: 5px 10px;
      border-radius: 50%;
      min-width: 24px;
      text-align: center;
    }

    }
  }
}