@import '../../scss//variables';

.winners-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  table-layout: fixed; 

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    position: relative;
    width: 20%;
  }

  th {
    color: white;
    font-weight: bold;
    cursor: pointer;
      &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.75);
        transform: translateY(-2px);
    }
  }

  .winner-car-container {
    position: absolute;
    top: -20px;
    left: 10px;
    z-index: 2;
  }
}
