@import '../../styles/mixins';

.nav-wrapper {
  margin-block: 20px;

  .nav-container {
    max-width: 150px;
    display: flex;
    justify-content: center;
  }

  .nav-link {
    @include nav-link-style;
  }
}