@import '../../scss/mixins';

.road-wrapper {
  border-radius: 5px;
  max-height: 570px;
  overflow-y: hidden;
  @include box-shadow();
}
  .pagination-container {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;

    .pagination-buttons {
      @include button-style;
      padding: 0;
      max-width: 80px;
      margin-right: 5px;
      font-size: .7rem;
      height: 25px;
      font-weight: bold;
    }
  }
