.road-line {
  height: 80px;
  margin-inline: 10px;
  border-bottom: dashed;
  border-color: #FED766;
  border-width: thin;
  position: relative;

  .car-container {
    position: absolute;
    top: 24px;
    z-index: 2;
  }

  .finish-line {
    position: relative;
    width: 90%;
    height: 100%;
    border-right: dotted;
    border-color: #FED766;
    border-width: thin;

    .start-line {
      position: absolute;
      width: 90px;
      height: 100%;
      border-right: dotted;
      border-color: #FED766;
      border-width: thin;
    }
  }
}